## Libraries

In [1]:
import json
import mysql.connector
import datetime
import random
import pandas as pd

## Database Connexion

In [2]:
json_file_path = r'C:\Users\Catello\Desktop\Protfolio\Project_1\database_config.json'

with open(json_file_path, 'r') as json_file:
    database_config = json.load(json_file)

mydb = mysql.connector.connect(**database_config)
mycursor = mydb.cursor()

## Database Creation (MCD/MLD/MPD)

In [3]:
customers = [
    ('Jane', 'Dupont', 'jeandupont@example.com', '0123456789'),
    ('Jane', 'Dupont', 'jeandupont@example.com', '0123456789'), 
    ('Robert', '...Lefevre', 'robertlefevre@example.com', '02-34-56-78-90'),
    ('Alice', 'Martin', 'alicemartin@example.com', '07/89/01/23/45'),
    ('David', '/Brun', 'Nan', '0345678901'),
    ('Emilie', 'David', 'emiliedavid@example.com', '0456789012'),
    ('Franck', '...Wilson', 'franck@example.com', '05 67 89 01 23'),
    ('Grace', '/Leroy', 'Grace@example.com', '0123456789'),
    ('Henri', 'Chen', 'henrichen@example.com', 'Nan'),
    ('Isabelle', 'Garcia', 'isabellegarcia@example.com', '0234567890')
]

# Function to generate a random French first name
def generate_french_first_name():
    first_names = ['Jean', 'Marie', 'Paul', 'Sophie', 'Pierre', 'Claire', 'Luc', 'Émilie', 'Antoine', 'Camille']
    return random.choice(first_names)

# Function to generate a random French last name
def generate_french_last_name():
    last_names = ['Dubois', 'Martin', 'Lefevre', 'Leroy', 'Moreau', 'Fournier', 'Garcia', 'Roux', 'Lemoine', 'Lefevre']
    return random.choice(last_names)

# Function to generate a random phone number
def generate_phone_number():
    return ''.join(random.choices('0123456789', k=10))

# Adding at least 100 new customers
for _ in range(100 - len(customers)):
    first_name = generate_french_first_name()
    last_name = generate_french_last_name()
    email = f'{first_name.lower()}.{last_name.lower()}@example.com'
    phone_number = generate_phone_number()

    customers.append((first_name, last_name, email, phone_number))

# Print the updated list of customers
for customer in customers:
    print(customer)

('Jane', 'Dupont', 'jeandupont@example.com', '0123456789')
('Jane', 'Dupont', 'jeandupont@example.com', '0123456789')
('Robert', '...Lefevre', 'robertlefevre@example.com', '02-34-56-78-90')
('Alice', 'Martin', 'alicemartin@example.com', '07/89/01/23/45')
('David', '/Brun', 'Nan', '0345678901')
('Emilie', 'David', 'emiliedavid@example.com', '0456789012')
('Franck', '...Wilson', 'franck@example.com', '05 67 89 01 23')
('Grace', '/Leroy', 'Grace@example.com', '0123456789')
('Henri', 'Chen', 'henrichen@example.com', 'Nan')
('Isabelle', 'Garcia', 'isabellegarcia@example.com', '0234567890')
('Claire', 'Fournier', 'claire.fournier@example.com', '7875841750')
('Paul', 'Garcia', 'paul.garcia@example.com', '9880512086')
('Sophie', 'Fournier', 'sophie.fournier@example.com', '3160495107')
('Marie', 'Leroy', 'marie.leroy@example.com', '0058110056')
('Émilie', 'Roux', 'émilie.roux@example.com', '1205622114')
('Camille', 'Leroy', 'camille.leroy@example.com', '9551197953')
('Marie', 'Moreau', 'marie.moreau@example.com', '1012627047')
('Émilie', 'Martin', 'émilie.martin@example.com', '1008259808')
('Camille', 'Dubois', 'camille.dubois@example.com', '7116181711')
('Pierre', 'Leroy', 'pierre.leroy@example.com', '8762750749')
('Pierre', 'Fournier', 'pierre.fournier@example.com', '8849787083')
('Pierre', 'Dubois', 'pierre.dubois@example.com', '3885786638')
('Pierre', 'Lefevre', 'pierre.lefevre@example.com', '2824721443')
('Jean', 'Moreau', 'jean.moreau@example.com', '5425124042')
('Sophie', 'Lemoine', 'sophie.lemoine@example.com', '2843383636')
('Pierre', 'Leroy', 'pierre.leroy@example.com', '6983525202')
('Claire', 'Lefevre', 'claire.lefevre@example.com', '0507079753')
('Luc', 'Martin', 'luc.martin@example.com', '3049595503')
('Pierre', 'Moreau', 'pierre.moreau@example.com', '7414247854')
('Antoine', 'Lefevre', 'antoine.lefevre@example.com', '7701772135')
('Émilie', 'Roux', 'émilie.roux@example.com', '8628595982')
('Paul', 'Roux', 'paul.roux@example.com', '4468850592')
('Jean', 'Lefevre', 'jean.lefevre@example.com', '3126991075')
('Émilie', 'Fournier', 'émilie.fournier@example.com', '4976161897')
('Luc', 'Dubois', 'luc.dubois@example.com', '9631082088')
('Paul', 'Moreau', 'paul.moreau@example.com', '9625273792')
('Sophie', 'Lefevre', 'sophie.lefevre@example.com', '6716792607')
('Claire', 'Garcia', 'claire.garcia@example.com', '9881813186')
('Pierre', 'Lemoine', 'pierre.lemoine@example.com', '8514286583')
('Marie', 'Martin', 'marie.martin@example.com', '8849224835')
('Camille', 'Lemoine', 'camille.lemoine@example.com', '9165598078')
('Jean', 'Moreau', 'jean.moreau@example.com', '0952955806')
('Pierre', 'Roux', 'pierre.roux@example.com', '8804884015')
('Jean', 'Garcia', 'jean.garcia@example.com', '1918484037')
('Camille', 'Fournier', 'camille.fournier@example.com', '2919967962')
('Jean', 'Garcia', 'jean.garcia@example.com', '8478577636')
('Antoine', 'Moreau', 'antoine.moreau@example.com', '0703598600')
('Claire', 'Garcia', 'claire.garcia@example.com', '6367364545')
('Luc', 'Garcia', 'luc.garcia@example.com', '5207892483')
('Sophie', 'Leroy', 'sophie.leroy@example.com', '6129770966')
('Camille', 'Lefevre', 'camille.lefevre@example.com', '6693938458')
('Camille', 'Lemoine', 'camille.lemoine@example.com', '6267374925')
('Paul', 'Lefevre', 'paul.lefevre@example.com', '6965630400')
('Camille', 'Martin', 'camille.martin@example.com', '0950351069')
('Camille', 'Roux', 'camille.roux@example.com', '6463488769')
('Antoine', 'Lefevre', 'antoine.lefevre@example.com', '5093452768')
('Jean', 'Lefevre', 'jean.lefevre@example.com', '9533980599')
('Pierre', 'Leroy', 'pierre.leroy@example.com', '4448605956')
('Jean', 'Roux', 'jean.roux@example.com', '9911878032')
('Camille', 'Lefevre', 'camille.lefevre@example.com', '8114632664')
('Antoine', 'Fournier', 'antoine.fournier@example.com', '8846210905')
('Camille', 'Leroy', 'camille.leroy@example.com', '4646239397')
('Luc', 'Roux', 'luc.roux@example.com', '8953926359')
('Claire', 'Dubois', 'claire.dubois@example.com', '6830644697')
('Jean', 'Lefevre', 'jean.lefevre@example.com', '2939033963')
('Marie', 'Garcia', 'marie.garcia@example.com', '4944018586')
('Jean', 'Martin', 'jean.martin@example.com', '1679949498')
('Émilie', 'Leroy', 'émilie.leroy@example.com', '8442471691')
('Antoine', 'Lefevre', 'antoine.lefevre@example.com', '4753983318')
('Camille', 'Dubois', 'camille.dubois@example.com', '0798051802')
('Pierre', 'Garcia', 'pierre.garcia@example.com', '2762277381')
('Luc', 'Leroy', 'luc.leroy@example.com', '9348912751')
('Sophie', 'Dubois', 'sophie.dubois@example.com', '1922627689')
('Camille', 'Fournier', 'camille.fournier@example.com', '7454276147')
('Sophie', 'Dubois', 'sophie.dubois@example.com', '9353366230')
('Camille', 'Garcia', 'camille.garcia@example.com', '2091779398')
('Sophie', 'Dubois', 'sophie.dubois@example.com', '4069400193')
('Pierre', 'Lemoine', 'pierre.lemoine@example.com', '0237689696')
('Sophie', 'Lefevre', 'sophie.lefevre@example.com', '5491760984')
('Paul', 'Lemoine', 'paul.lemoine@example.com', '2959841738')
('Claire', 'Martin', 'claire.martin@example.com', '0410808251')
('Paul', 'Garcia', 'paul.garcia@example.com', '4883040817')
('Sophie', 'Moreau', 'sophie.moreau@example.com', '7703002109')
('Pierre', 'Leroy', 'pierre.leroy@example.com', '3012335729')
('Émilie', 'Martin', 'émilie.martin@example.com', '1405720794')
('Luc', 'Martin', 'luc.martin@example.com', '0144367191')
('Antoine', 'Lefevre', 'antoine.lefevre@example.com', '0140576230')
('Émilie', 'Roux', 'émilie.roux@example.com', '8988503812')
('Sophie', 'Lefevre', 'sophie.lefevre@example.com', '7447498232')
('Antoine', 'Lemoine', 'antoine.lemoine@example.com', '1786020391')
('Paul', 'Moreau', 'paul.moreau@example.com', '3020679232')
('Camille', 'Roux', 'camille.roux@example.com', '8340129131')
('Paul', 'Dubois', 'paul.dubois@example.com', '6334357163')
('Émilie', 'Moreau', 'émilie.moreau@example.com', '5463717504')
('Jean', 'Leroy', 'jean.leroy@example.com', '4146259802')
('Sophie', 'Lefevre', 'sophie.lefevre@example.com', '1206706693')
('Sophie', 'Roux', 'sophie.roux@example.com', '1884515435')
('Émilie', 'Moreau', 'émilie.moreau@example.com', '6642295652')
('Claire', 'Roux', 'claire.roux@example.com', '1923302667')
('Émilie', 'Leroy', 'émilie.leroy@example.com', '7580488683')

In [4]:
# Define sample data for the products and customers tables
products = [('Product A', 5.00), ('Product B', 2.20), ('Product C', 7.50), ('Product D', 4.50), ('Product E', 6.00)]

In [5]:
# Create the database if it does not exist
mycursor.execute("CREATE DATABASE IF NOT EXISTS project_1")

# Use the newly created database
mycursor.execute("USE project_1")

# Create the products table
mycursor.execute("CREATE TABLE IF NOT EXISTS products (product_id INT AUTO_INCREMENT PRIMARY KEY, product_name VARCHAR(255), unit_cost DECIMAL(10, 2))")
mydb.commit()

# Insert data into the products table
mycursor.executemany("INSERT INTO products (product_name, unit_cost) VALUES (%s, %s)", products)
mydb.commit()

# Create the customers table
mycursor.execute("CREATE TABLE IF NOT EXISTS customers (customer_id INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(255), last_name VARCHAR(255), email VARCHAR(255), phone VARCHAR(20))")
mydb.commit()

# Insert data into the customers table
mycursor.executemany("INSERT INTO customers (first_name, last_name, email, phone) VALUES (%s, %s, %s, %s)", customers)
mydb.commit()

# Create the sales table with foreign keys
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS sales (
        sale_id INT AUTO_INCREMENT PRIMARY KEY,
        sale_date DATE,
        customer_id INT,
        product_id INT,
        quantity INT,
        unit_price DECIMAL(10, 2),
        total_price DECIMAL(10, 2),
        FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
        FOREIGN KEY (product_id) REFERENCES products(product_id)
    )
""")
mydb.commit()

# Define the start and end dates for generating sales data
start_date = datetime.date(2023, 1, 1)
end_date = datetime.date(2023, 12, 31)

# Insert data into the sales table
for i in range(1000):
    sale_date = start_date + datetime.timedelta(days=random.randint(0, 364))
    customer_id = random.randint(1, len(customers))
    product_id = random.randint(1, len(products))
    quantity = random.randint(1, 10)
    unit_price = products[product_id-1][1]
    total_price = quantity * unit_price
    mycursor.execute("INSERT INTO sales (sale_date, customer_id, product_id, quantity, unit_price, total_price) VALUES (%s, %s, %s, %s, %s, %s)", (sale_date, customer_id, product_id, quantity, unit_price, total_price))

mydb.commit()

print("Database, tables, and data successfully created!")

Database, tables, and data successfully created!

## SQL Query

In [6]:
# Query to show tables
show_tables_query = "SHOW TABLES"

# Execute the query
mycursor.execute(show_tables_query)

# Fetch all the rows
tables = mycursor.fetchall()

# Create a Pandas DataFrame
df_tables = pd.DataFrame(tables, columns=["Tables"])

# Display the DataFrame
print(df_tables)

      Tables
0  customers
1   products
2      sales

In [7]:
# Execute the query
query = '''
SELECT *
FROM customers
'''

# Load results into a Pandas DataFrame
df_customers = pd.read_sql_query(query, mydb)

# Display the DataFrame
df_customers.head()

C:\Users\Catello\AppData\Local\Temp\ipykernel_5564\3445282431.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customers = pd.read_sql_query(query, mydb)

,customer_id,first_name,last_name,email,phone
0,1,Jane,Dupont,jeandupont@example.com,0123456789
1,2,Jane,Dupont,jeandupont@example.com,0123456789
2,3,Robert,...Lefevre,robertlefevre@example.com,02-34-56-78-90
3,4,Alice,Martin,alicemartin@example.com,07/89/01/23/45
4,5,David,/Brun,Nan,0345678901

In [8]:
# Execute the query
query = '''
SELECT *
FROM products
'''

# Load results into a Pandas DataFrame
df_products = pd.read_sql_query(query, mydb)

# Display the DataFrame
df_products.head()

C:\Users\Catello\AppData\Local\Temp\ipykernel_5564\2793410589.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_products = pd.read_sql_query(query, mydb)

   product_id product_name  unit_cost
0           1    Product A        5.0
1           2    Product B        2.2
2           3    Product C        7.5
3           4    Product D        4.5
4           5    Product E        6.0

In [9]:
# Execute the query
query = '''
SELECT *
FROM sales
'''

# Load results into a Pandas DataFrame
df_sales = pd.read_sql_query(query, mydb)

# Display the DataFrame
df_sales.head()

C:\Users\Catello\AppData\Local\Temp\ipykernel_5564\3326367657.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sales = pd.read_sql_query(query, mydb)

,sale_id,sale_date,customer_id,product_id,quantity,unit_price,total_price
0,1,2023-10-23,97,3,6,7.5,45.0
1,2,2023-01-17,18,2,4,2.2,8.8
2,3,2023-11-10,88,4,5,4.5,22.5
3,4,2023-05-09,19,5,4,6.0,24.0
4,5,2023-09-20,23,5,2,6.0,12.0

In [10]:
# Close the connection
mydb.close()