## Libraries

In [1]:
import mysql.connector
import datetime
import random
import pandas as pd

## Database Connexion

In [2]:
mydb = mysql.connector.connect(host='localhost', user='root', password='cdareception')
mycursor = mydb.cursor()

## Database Creation (MCD/MLD/MPD)

In [3]:
customers = [
    ('Jane', 'Dupont', 'jeandupont@example.com', '0123456789'),
    ('Jane', 'Dupont', 'jeandupont@example.com', '0123456789'), 
    ('Robert', '...Lefevre', 'robertlefevre@example.com', '02-34-56-78-90'),
    ('Alice', 'Martin', 'alicemartin@example.com', '07/89/01/23/45'),
    ('David', '/Brun', 'Nan', '0345678901'),
    ('Emilie', 'David', 'emiliedavid@example.com', '0456789012'),
    ('Franck', '...Wilson', 'franck@example.com', '05 67 89 01 23'),
    ('Grace', '/Leroy', 'Grace@example.com', '0123456789'),
    ('Henri', 'Chen', 'henrichen@example.com', 'Nan'),
    ('Isabelle', 'Garcia', 'isabellegarcia@example.com', '0234567890')
]

# Function to generate a random French first name
def generate_french_first_name():
    first_names = ['Jean', 'Marie', 'Paul', 'Sophie', 'Pierre', 'Claire', 'Luc', 'Émilie', 'Antoine', 'Camille']
    return random.choice(first_names)

# Function to generate a random French last name
def generate_french_last_name():
    last_names = ['Dubois', 'Martin', 'Lefevre', 'Leroy', 'Moreau', 'Fournier', 'Garcia', 'Roux', 'Lemoine', 'Lefevre']
    return random.choice(last_names)

# Function to generate a random phone number
def generate_phone_number():
    return ''.join(random.choices('0123456789', k=10))

# Adding at least 100 new customers
for _ in range(100 - len(customers)):
    first_name = generate_french_first_name()
    last_name = generate_french_last_name()
    email = f'{first_name.lower()}.{last_name.lower()}@example.com'
    phone_number = generate_phone_number()

    customers.append((first_name, last_name, email, phone_number))

# Print the updated list of customers
for customer in customers:
    print(customer)

('Jane', 'Dupont', 'jeandupont@example.com', '0123456789')
('Jane', 'Dupont', 'jeandupont@example.com', '0123456789')
('Robert', '...Lefevre', 'robertlefevre@example.com', '02-34-56-78-90')
('Alice', 'Martin', 'alicemartin@example.com', '07/89/01/23/45')
('David', '/Brun', 'Nan', '0345678901')
('Emilie', 'David', 'emiliedavid@example.com', '0456789012')
('Franck', '...Wilson', 'franck@example.com', '05 67 89 01 23')
('Grace', '/Leroy', 'Grace@example.com', '0123456789')
('Henri', 'Chen', 'henrichen@example.com', 'Nan')
('Isabelle', 'Garcia', 'isabellegarcia@example.com', '0234567890')
('Paul', 'Lefevre', 'paul.lefevre@example.com', '2378306952')
('Jean', 'Garcia', 'jean.garcia@example.com', '4073925913')
('Camille', 'Martin', 'camille.martin@example.com', '7669576283')
('Sophie', 'Lefevre', 'sophie.lefevre@example.com', '0078229394')
('Pierre', 'Roux', 'pierre.roux@example.com', '5821896794')
('Émilie', 'Leroy', 'émilie.leroy@example.com', '7693940090')
('Sophie', 'Lefevre', 'sophie.lefevre@example.com', '2109913080')
('Marie', 'Garcia', 'marie.garcia@example.com', '8805222580')
('Claire', 'Garcia', 'claire.garcia@example.com', '7325737360')
('Paul', 'Lefevre', 'paul.lefevre@example.com', '3631991771')
('Marie', 'Garcia', 'marie.garcia@example.com', '0797423712')
('Paul', 'Lefevre', 'paul.lefevre@example.com', '6736513297')
('Jean', 'Lemoine', 'jean.lemoine@example.com', '7381887753')
('Antoine', 'Lemoine', 'antoine.lemoine@example.com', '8858476839')
('Antoine', 'Martin', 'antoine.martin@example.com', '5492280291')
('Antoine', 'Garcia', 'antoine.garcia@example.com', '5258424572')
('Marie', 'Roux', 'marie.roux@example.com', '3144844152')
('Jean', 'Fournier', 'jean.fournier@example.com', '6486361576')
('Sophie', 'Lemoine', 'sophie.lemoine@example.com', '0836894313')
('Antoine', 'Roux', 'antoine.roux@example.com', '1872747204')
('Antoine', 'Lemoine', 'antoine.lemoine@example.com', '6590215318')
('Luc', 'Lemoine', 'luc.lemoine@example.com', '0226387828')
('Sophie', 'Lemoine', 'sophie.lemoine@example.com', '2590790183')
('Marie', 'Leroy', 'marie.leroy@example.com', '1465421923')
('Marie', 'Roux', 'marie.roux@example.com', '5209212808')
('Émilie', 'Roux', 'émilie.roux@example.com', '5862262411')
('Paul', 'Leroy', 'paul.leroy@example.com', '1327780178')
('Sophie', 'Lemoine', 'sophie.lemoine@example.com', '9334140760')
('Marie', 'Dubois', 'marie.dubois@example.com', '9279842837')
('Camille', 'Roux', 'camille.roux@example.com', '9126704547')
('Claire', 'Moreau', 'claire.moreau@example.com', '8037319003')
('Paul', 'Leroy', 'paul.leroy@example.com', '7498105864')
('Luc', 'Garcia', 'luc.garcia@example.com', '1147605467')
('Pierre', 'Garcia', 'pierre.garcia@example.com', '3629930455')
('Luc', 'Lefevre', 'luc.lefevre@example.com', '0968206037')
('Luc', 'Moreau', 'luc.moreau@example.com', '7612618758')
('Luc', 'Roux', 'luc.roux@example.com', '7190238553')
('Paul', 'Garcia', 'paul.garcia@example.com', '5680561979')
('Émilie', 'Fournier', 'émilie.fournier@example.com', '9637109469')
('Camille', 'Leroy', 'camille.leroy@example.com', '2404808891')
('Paul', 'Lefevre', 'paul.lefevre@example.com', '3448909568')
('Antoine', 'Garcia', 'antoine.garcia@example.com', '7549973502')
('Marie', 'Roux', 'marie.roux@example.com', '5448883695')
('Luc', 'Martin', 'luc.martin@example.com', '2438291454')
('Antoine', 'Fournier', 'antoine.fournier@example.com', '8220736176')
('Jean', 'Lefevre', 'jean.lefevre@example.com', '7481465353')
('Claire', 'Lemoine', 'claire.lemoine@example.com', '2107127016')
('Jean', 'Lefevre', 'jean.lefevre@example.com', '1455221330')
('Pierre', 'Dubois', 'pierre.dubois@example.com', '5338289229')
('Jean', 'Lemoine', 'jean.lemoine@example.com', '9025937401')
('Camille', 'Dubois', 'camille.dubois@example.com', '5253545418')
('Pierre', 'Garcia', 'pierre.garcia@example.com', '1413852166')
('Antoine', 'Fournier', 'antoine.fournier@example.com', '8032216189')
('Sophie', 'Dubois', 'sophie.dubois@example.com', '6376895759')
('Sophie', 'Garcia', 'sophie.garcia@example.com', '6223210328')
('Pierre', 'Roux', 'pierre.roux@example.com', '0997621687')
('Pierre', 'Dubois', 'pierre.dubois@example.com', '7502515168')
('Pierre', 'Leroy', 'pierre.leroy@example.com', '6352516178')
('Émilie', 'Fournier', 'émilie.fournier@example.com', '0495080754')
('Émilie', 'Fournier', 'émilie.fournier@example.com', '3297486795')
('Marie', 'Moreau', 'marie.moreau@example.com', '8641626253')
('Pierre', 'Leroy', 'pierre.leroy@example.com', '9635377405')
('Camille', 'Martin', 'camille.martin@example.com', '6963727511')
('Sophie', 'Martin', 'sophie.martin@example.com', '5870518515')
('Sophie', 'Martin', 'sophie.martin@example.com', '6166935120')
('Claire', 'Lemoine', 'claire.lemoine@example.com', '3410729851')
('Antoine', 'Martin', 'antoine.martin@example.com', '1410113772')
('Luc', 'Leroy', 'luc.leroy@example.com', '4636658224')
('Émilie', 'Moreau', 'émilie.moreau@example.com', '0381769536')
('Jean', 'Moreau', 'jean.moreau@example.com', '8099408121')
('Claire', 'Lefevre', 'claire.lefevre@example.com', '6400506226')
('Claire', 'Dubois', 'claire.dubois@example.com', '3727293642')
('Luc', 'Garcia', 'luc.garcia@example.com', '7372185369')
('Jean', 'Moreau', 'jean.moreau@example.com', '2468784946')
('Pierre', 'Garcia', 'pierre.garcia@example.com', '2849768645')
('Claire', 'Moreau', 'claire.moreau@example.com', '6357596306')
('Jean', 'Lefevre', 'jean.lefevre@example.com', '5994504083')
('Jean', 'Roux', 'jean.roux@example.com', '8280698214')
('Antoine', 'Lefevre', 'antoine.lefevre@example.com', '4001682349')
('Luc', 'Lefevre', 'luc.lefevre@example.com', '1782577881')
('Sophie', 'Leroy', 'sophie.leroy@example.com', '6348909630')
('Sophie', 'Fournier', 'sophie.fournier@example.com', '6981882781')
('Émilie', 'Lefevre', 'émilie.lefevre@example.com', '4810327512')
('Luc', 'Leroy', 'luc.leroy@example.com', '4884594313')
('Claire', 'Fournier', 'claire.fournier@example.com', '7724352853')
('Pierre', 'Fournier', 'pierre.fournier@example.com', '1783350451')
('Sophie', 'Fournier', 'sophie.fournier@example.com', '8997891701')
('Antoine', 'Martin', 'antoine.martin@example.com', '5117630264')
('Pierre', 'Garcia', 'pierre.garcia@example.com', '5923125057')
('Camille', 'Martin', 'camille.martin@example.com', '8152187320')

In [4]:
# Define sample data for the products and customers tables
products = [('Product A', 5.00), ('Product B', 2.20), ('Product C', 7.50), ('Product D', 4.50), ('Product E', 6.00)]

In [5]:
# Create the database if it does not exist
mycursor.execute("CREATE DATABASE IF NOT EXISTS project_1")

# Use the newly created database
mycursor.execute("USE project_1")

# Create the products table
mycursor.execute("CREATE TABLE IF NOT EXISTS products (product_id INT AUTO_INCREMENT PRIMARY KEY, product_name VARCHAR(255), unit_cost DECIMAL(10, 2))")
mydb.commit()

# Insert data into the products table
mycursor.executemany("INSERT INTO products (product_name, unit_cost) VALUES (%s, %s)", products)
mydb.commit()

# Create the customers table
mycursor.execute("CREATE TABLE IF NOT EXISTS customers (customer_id INT AUTO_INCREMENT PRIMARY KEY, first_name VARCHAR(255), last_name VARCHAR(255), email VARCHAR(255), phone VARCHAR(20))")
mydb.commit()

# Insert data into the customers table
mycursor.executemany("INSERT INTO customers (first_name, last_name, email, phone) VALUES (%s, %s, %s, %s)", customers)
mydb.commit()

# Create the sales table with foreign keys
mycursor.execute("""
    CREATE TABLE IF NOT EXISTS sales (
        sale_id INT AUTO_INCREMENT PRIMARY KEY,
        sale_date DATE,
        customer_id INT,
        product_id INT,
        quantity INT,
        unit_price DECIMAL(10, 2),
        total_price DECIMAL(10, 2),
        FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
        FOREIGN KEY (product_id) REFERENCES products(product_id)
    )
""")
mydb.commit()

# Define the start and end dates for generating sales data
start_date = datetime.date(2023, 1, 1)
end_date = datetime.date(2023, 12, 31)

# Insert data into the sales table
for i in range(1000):
    sale_date = start_date + datetime.timedelta(days=random.randint(0, 364))
    customer_id = random.randint(1, len(customers))
    product_id = random.randint(1, len(products))
    quantity = random.randint(1, 10)
    unit_price = products[product_id-1][1]
    total_price = quantity * unit_price
    mycursor.execute("INSERT INTO sales (sale_date, customer_id, product_id, quantity, unit_price, total_price) VALUES (%s, %s, %s, %s, %s, %s)", (sale_date, customer_id, product_id, quantity, unit_price, total_price))

mydb.commit()

print("Database, tables, and data successfully created!")

Database, tables, and data successfully created!

## SQL Query

In [6]:
# Query to show tables
show_tables_query = "SHOW TABLES"

# Execute the query
mycursor.execute(show_tables_query)

# Fetch all the rows
tables = mycursor.fetchall()

# Create a Pandas DataFrame
df_tables = pd.DataFrame(tables, columns=["Tables"])

# Display the DataFrame
print(df_tables)

      Tables
0  customers
1   products
2      sales

In [7]:
# Execute the query
query = '''
SELECT *
FROM customers
'''

# Load results into a Pandas DataFrame
df_customers = pd.read_sql_query(query, mydb)

# Display the DataFrame
df_customers.head()

C:\Users\Catello\AppData\Local\Temp\ipykernel_13688\3445282431.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_customers = pd.read_sql_query(query, mydb)

,customer_id,first_name,last_name,email,phone
0,1,Jane,Dupont,jeandupont@example.com,0123456789
1,2,Jane,Dupont,jeandupont@example.com,0123456789
2,3,Robert,...Lefevre,robertlefevre@example.com,02-34-56-78-90
3,4,Alice,Martin,alicemartin@example.com,07/89/01/23/45
4,5,David,/Brun,Nan,0345678901

In [8]:
# Execute the query
query = '''
SELECT *
FROM products
'''

# Load results into a Pandas DataFrame
df_products = pd.read_sql_query(query, mydb)

# Display the DataFrame
df_products.head()

C:\Users\Catello\AppData\Local\Temp\ipykernel_13688\2793410589.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_products = pd.read_sql_query(query, mydb)

   product_id product_name  unit_cost
0           1    Product A        5.0
1           2    Product B        2.2
2           3    Product C        7.5
3           4    Product D        4.5
4           5    Product E        6.0

In [9]:
# Execute the query
query = '''
SELECT *
FROM sales
'''

# Load results into a Pandas DataFrame
df_sales = pd.read_sql_query(query, mydb)

# Display the DataFrame
df_sales.head()

C:\Users\Catello\AppData\Local\Temp\ipykernel_13688\3326367657.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_sales = pd.read_sql_query(query, mydb)

,sale_id,sale_date,customer_id,product_id,quantity,unit_price,total_price
0,1,2023-10-10,49,4,8,4.5,36.0
1,2,2023-05-16,52,2,5,2.2,11.0
2,3,2023-03-01,100,1,10,5.0,50.0
3,4,2023-05-05,37,5,3,6.0,18.0
4,5,2023-11-29,47,1,9,5.0,45.0

In [10]:
# Close the connection
mydb.close()